<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/kasir.css">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Kasir Cashy</title>
</head>

<body>
    <div class="bg">
        <img src="./elemen/Ellipseblue1.png" alt="bg1">
    </div>
    <div class="bg2">
        <img src="./elemen/Elipsblue2.png" alt="bg2">
    </div>
    <%- include('./navbar.ejs') %>
    <section class="home">
        <div class="text">Kasir</div>
        <div class="box-wrapper">
            <div class="container">
                <div id="b1">
                    1
                </div>
            </div>
        </div>
    </section>

    <script src="./js/kasir.js"></script>

</body>

</html>